@media screen and (min-width : 350px) {

html{
    font-size: 40px;
}
body{
    background-color: rgb(59, 59, 85);
}
main{
    font-size: 20px;
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows: repeat(9, 100px);
    gap: 10px;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d"
                         "e"
                         "f"
                         "g"
                         "h"
                         "i"
                         
                        
}
section{
    background-color:rgb(79, 124, 223) ;
    /* height: 50px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 25px ;
    margin-left: 2em;
    margin-right: 300px ;
    margin: 10px auto; */
}
section:nth-of-type(1){
grid-area: a;
}
section:nth-of-type(2){
grid-area: b;
}
section:nth-of-type(3){
    grid-area: c;
}
section:nth-of-type(4){
    grid-area: d;
}
section:nth-of-type(5){
    grid-area: e;
}
section:nth-of-type(6){
    grid-area: f;
}
section:nth-of-type(7){
    grid-area: g;
}
section:nth-of-type(8){
    grid-area: h;
}
section:nth-of-type(9){
    grid-area: i;
}
}
@media screen and (min-width : 800px){
    body{
        background-color: transparent;
    }
    main{
        font-size: 20px;
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: repeat(5, 100px);
        gap: 10px;
        grid-template-areas: "a f"
                             "b g"
                             "c h"
                             "d i"
                             "e e" ;
    }
    section{
        border: 50px solid black;
        
    }
}@media print and (min-width : 380){
    body{
        background-color: transparent;
    }
    main{
        font-size: 20px;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows: repeat(9, 100px);
        gap: 10px;
        grid-template-areas: "a"
                             "b"
                             "c"
                             "d"
                             "e"
                             "f"
                             "g"
                             "h"
                             "i"                      
    }
    section{
        border: 50px solid  black;
    }

}
