html{
    font-size: 40px;
}
body{
    background-color: rgb(59, 59, 85);
}
main{
    font-size: 20px;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    grid-template-areas:"a a a d d "
                        "b b c d d"
                        "e e e d d"
                        "f g g d d"
}
section:nth-of-type(1){
    grid-area: a;
    /* background-image: linear-gradient(90deg, blue ); */
    
    }
    section:nth-of-type(2){
    grid-area: b;
    background-image:linear-gradient(180deg, black 30%, red 30% ,red 65%,yellow 65%);
    }
    section:nth-of-type(3){
        grid-area: c;
        background-image: linear-gradient(90deg, blue 30%, white 30%, white 65%,red 65% );
    }
    section:nth-of-type(4){
        grid-area: d;
        background-image: repeating-linear-gradient(0deg,blue , red 33.3%);
    }
    section:nth-of-type(5){
        grid-area: e;
    }
    section:nth-of-type(6){
        grid-area: f;
        background-image: radial-gradient(red 30%, white 30%);

    }
    section:nth-of-type(7){
        grid-area: g;
        background-image: linear-gradient(-30deg,rgb(67, 195, 214) 40%,yellow 40%,yellow 45%,black 45%,black 60%,yellow 60%,yellow 65%,rgb(46, 169, 46) 65% );
    }
    section{
        background-color:rgb(79, 124, 223) ;
    }